.header {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #f2ebf9 !important;
  max-width: 280px;
  gap: 80px;
  position: relative;
}
.logo_block {
  display: flex;
  gap: 12px;
  align-items: center;
}
.logo_title {
  font-size: 24px;
  letter-spacing: -0.02em;
  color: #9854f6;
  font-weight: 600;
}
.logo_image {
  width: 32px;
  height: 32px;
}
