.navbar {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: inherit;
  border: none;
  position: relative;
}

.nav_item {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
  border-radius: 8px;
  padding: 10px;
}

.nav_item_active {
  color: var(--purple-main-500);
  background: var(--purple-200);
  font-weight: 700;
}
