@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url(../public/fonts/Poppins-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/Inter-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-size: 100%;
  font-family: Poppins;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

/*Normalize*/

:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Poppins', sans-serif;
  --black: #000;
  --grey-600: #7b7c88;
  --grey-500: #acadb9;
  --grey-300: #d5d6dc;
  --grey-200: #eaebed;
  --grey-100: #f5f5f6;
  --white: #fff;
  --purple-600: #541f9d;
  --purple-main-500: #9854f6;
  --purple-400: #bd93f7;
  --purple-300: #d1b4f8;
  --purple-200: #e5d5fa;
  --purple-100: #f2ebf9;
  --yellow: #fab005;
  --yellow: #fab005;
}

.main_container {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
